@use '../content.scss' as *;

.bmtweaks-tag-list {
  @include common;

  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}
