@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 300px;
  padding: 16px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 16px;
  border-bottom: solid 1px #aaa;
}

.title__img {
  width: 32px;
}

.title__text {
  font-size: 20px;
}

.note {
  margin-top: 16px;
  color: gray;
  font-size: 16px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.input-row label {
  font-size: 14px;
}

.input-row.disabled {
  opacity: 0.5;
}

.checkbox input {
  display: none;
}

.checkbox .checkbox__switch {
  display: block;
  width: 48px;
  height: 24px;
  border: solid 1px #666;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #aaa;
}

.checkbox .checkbox__switch::before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 25px;
  background-color: #fff;
}

.checkbox.checkbox-initialized .checkbox__switch,
.checkbox.checkbox-initialized .checkbox__switch::before {
  transition: 200ms ease;
}

.checkbox input:checked + .checkbox__switch {
  background-color: #4ad64a;
}

.checkbox input:checked + .checkbox__switch::before {
  content: "";
  transform: translateX(100%);
}

.input-row__select {
  border-radius: 4px;
  padding: 4px 8px;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #222;
    color: #fff;
  }

  .input-row__select {
    background-color: #222;
    color: #fff;
  }
}
